<!-- <p>product works!</p> -->
<div class="product">

    <div *ngIf="product.image; then productImageBlock else defaultImageBlock"></div>

    <ng-template #productImageBlock>
        <div class="product-image">
            <img src="{{product.image}}">
        </div>
    </ng-template>



    <ng-template #defaultImageBlock>
        <div class="product-image">
            <img src="assets/images/pizzzzza.png">
        </div>
    </ng-template>

    <custom-title [title]="product.title | uppercase"></custom-title>

    <div class="product-text">{{product.description | wordUpper: ['сыр','томат', 'сос']}}</div>
    <div class="product-action" #elem>
        <a class="btn btn-add-to-cart" routerLink="/order" [queryParams]="{product: product.title}">В корзину</a>
        <a class="btn btn-white" [routerLink]="['/products', product.id]">Подробнее</a>
    </div>   
</div>

<!-- (click)="addToCart(product, orderElement)" -->