.product {
    width: 282px;
    filter: drop-shadow(0 3px 7.5px rgba(152, 152, 152, 0.2));
    background-color: #ffffff;
    text-align: center;
    padding: 15px 20px;
    box-sizing: border-box;
    margin-top: 24px;
}

.product-image {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
}

// .product-title {
//     font-size: 18px;
//     color: #382400;
//     font-family: "MullerBold", sans-serif;
// }

.product-text {
    font-size: 14px;
    color: #181a1a;
    line-height: 1.286;
    height: 51px;
    margin: 14px 0 15px 0;
}

.product-action .btn {
    width: 242px;
    height: 50px;
    padding: 17px;
}

.product-action .btn.btn-white {
    margin-top: 10px;
}

.product-action {
    display: flex;
    flex-direction: column;
}

/* 1024 - 1229 */
@media screen and (max-width: 1229px) {
    .product {
        margin: 12px;
    }
}