.footer {
    filter: drop-shadow(0 0 7.5px rgba(152, 152, 152, 0.2));
    background-color: #ffffff;
    padding: 16px 0 15px 0;
}

.footer .container {
    display: flex;
    align-items: center;
}

.rights {
    font-size: 12px;
    color: #bab3b3;
    margin-left: 358px;
}

/* 425 -767 */
@media screen and (max-width: 767px) {
    .footer .container {
        justify-content: space-between;
    }

    .rights {
        margin-left: 0;
    }
}

/* 320 - 374 */
@media screen and (max-width: 374px) {
        .rights {
        margin-left: 20px;
    }
}