<!-- <p>order works!</p> -->

<section class="order" id="order">
    <div class="container">
        <div class="order-text">
            <div class="order-text-title double-title">
                <a routerLink="/order" [queryParams]="{product: formValues.productTitle + '1 '}">Хватит думать!</a>
                Доставим заказ за 30 минут!
            </div>
            <div class="order-text-message">
                Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже
                на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся
                нашим сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
            </div>
        </div>
        <div class="order-form">
            <span class="p-float-label">
                <input type="text" class="order-input" id="product-input" pInputText
                    [(ngModel)]="formValues.productTitle">
                <label for="product-input">Пицца</label>
            </span>
            <span class="p-float-label">
                <input type="text" class="order-input" id="address-input" name="address" pInputText
                    [(ngModel)]="formValues.address">
                <label for="address-input">Адрес доставки</label>
            </span>
            <span class="p-float-label">
                <input type="text" class="order-input" id="phone-input" pInputText 
                [(ngModel)]="formValues.phone">
                <label for="phone-input">Телефон</label>
            </span>


            <!-- <input type="text" class="order-input" id="product-input" 
                pInputText placeholder="Пицца" [(ngModel)]="formValues.productTitle">
                <input type="text" class="order-input" id="address-input" name= "address" 
                pInputText placeholder="Адрес доставки" [(ngModel)]="formValues.address">
                <input type="text" class="order-input" id="phone-input"
                <!-- pInputText placeholder="Телефон" [(ngModel)]="formValues.phone"> -->
                <button tuiButton class="btn" (click)="createOrder()">Оформить заказ</button>
        </div>
        <div class="order-image">
            <img src="assets/images/pizzzzza.png" alt="Pizza">
        </div>
    </div>
</section>